.DateFilter {
    .inputContainer {
        display: flex;

        .Editable {
            width: 50% !important;
        }
    }

    input {
        cursor: text;
        overflow: hidden;
        text-overflow: ellipsis;
        min-height: 24px;
        width: 100%;
        margin: 2px;

        &.active {
            min-width: 100px;
        }

        &::placeholder {
            color: rgba(var(--body-color), 0.4);
            opacity: 1;
        }

        &.error {
            border: 1px solid var(--error-color);
            border-radius: var(--default-rad);
        }
    }

    .Modal {
        position: absolute;
        top: 0;
        left: 0;
        margin-bottom: 100px;
    }

    &.empty .Button {
        min-height: 24px;
        color: rgba(var(--center-channel-color-rgb), 0.4);
        padding: 0 3px;
    }

    .Button {
        // width: calc(100% - 16px);
        height: 100%;
        justify-content: left;
        padding: 0;

        &.--empty {
            opacity: 0;
        }

        &:hover {
            background-color: transparent;
        }
    }

    .menu-option {
        display: flex;
        flex-direction: row;
        align-items: center;

        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        height: 32px;
        padding: 4px 0;
        cursor: pointer;

        &:hover {
            background: rgba(var(--button-bg-rgb), 0.08);
        }

        >* {
            margin-left: 6px;
        }

        >*:first-child {
            margin-left: 0;
        }

        >.menu-name {
            display: flex;
            flex-grow: 1;
            white-space: nowrap;
        }

        >.SubmenuTriangleIcon {
            fill: rgba(var(--body-color), 0.7);
        }

        >.Icon {
            opacity: 0.56;
            width: 16px;
            height: 16px;
            line-height: 16px;
        }

        >.IconButton .Icon {
            margin-right: 0;
        }
    }

    .rdp {
        font-size: inherit;
    }

    .rdp-input_overlay {
        background-color: rgba(var(--center-channel-bg-rgb));
        box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
        line-height: 100%;
    }

    .rdp-months {
        padding: 0;
    }

    .rdp-month {
        margin: 0;
        margin-top: 1em;
        display: flex;
        flex-direction: column;
    }

    .rdp-tbody {
        display: flex;
        flex-direction: column;
    }

    .inputContainer {
        max-width: 252px;
    }

    .rdp-head {
        margin: 0;
    }

    .rdp-head_row {
        display: flex;
        flex-direction: row;
    }

    .rdp-head_cell {
        width: 36px;
        height: 36px;
    }

    .rdp-nav_button {
        right: 0;
    }

    .rdp-row {
        display: flex;
        flex-direction: row;
    }

    .rdp-day {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 36px;
        height: 36px;
        border-radius: 50px;

        &::before {
            content: unset;
        }

        &:not(.rdp-day_selected) {
            &:hover {
                background: rgba(var(--button-bg-rgb), 0.08) !important;
                color: rgba(var(--button-bg-rgb), 1) !important;
            }
        }
    }

    .rdp-day_today {
        background: transparent;
        color: #c74655;
    }

    .rdp-day_start {
        border-top-left-radius: 50% !important;
        border-bottom-left-radius: 50% !important;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
    }

    .rdp-day_end {
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
        border-top-right-radius: 50% !important;
        border-bottom-right-radius: 50% !important;
    }

    .rdp-day_selected:not(.rdp-day_disabled):not(.rdp-day_outside) {
        border-radius: unset;
        background-color: rgb(var(--button-bg-rgb));
        color: rgba(var(--button-color-rgb), 1);

        &:hover {
            background-color: rgb(var(--button-bg-rgb)) !important;
        }
    }

    .rdp-day_selected:not(.rdp-day_start):not(.rdp-day_end):not(.rdp-day_outside) {
        color: rgb(var(--button-bg-rgb));
        background-color: rgba(var(--button-bg-rgb), 0.08);

        &:hover {
            background-color: rgba(var(--button-bg-rgb), 0.08) !important;
        }
    }

    .rdp .rdp-day:not(.rdp-day_disabled):not(.rdp-day_selected):not(.rdp-day_outside):hover {
        background-color: rgba(var(--body-color), 0.2);
    }
}
